.wrap {
    position: relative;
    width: 100%;
    height: 54.71rem;
    max-width: 1080px;
    margin: 0 auto;
    background: url(//999.com/web/onepiece/qzCard2024/images/bg2.jpg) no-repeat 100%/100%;
    vertical-align: top;
    overflow: hidden;
  }
  
  .logo {
    position: absolute;
    width: 3.06rem;
    top: 0.1rem;
    left: 0.38rem;
  }
  
  .login-state {
    position: absolute;
    width: 4.1rem;
    top: 0.45rem;
    right: 0.4rem;
  }
  
  .login-state * {
    width: 2rem;
    float: left;
    cursor: pointer;
  }
  
  .login-state img:last-child {
    margin-right: 0;
    float: right;
  }
  
  .login-state .player {
    width: 2rem;
    height: 0.79rem;
    text-align: center;
    line-height: 0.79rem;
    font-size: 0.26rem;
    color: #005a68;
    background: url(//999.com/web/onepiece/qzCard2024/images/loginbg.png);
    display: none;
    background-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.3rem;
    box-sizing: border-box;
  }
  .time-box{
    width: 100%;
    position: absolute;
    top: 12.09rem;
    left: -0.18rem;
    text-align: center;
    color: #ffdd6b;
    font-size: 0.39rem;
    font-style: italic;
    transform: rotateZ(-5deg);
    display: flex;
    justify-content: center;
  }
  .mb-80 {
    margin-bottom: 0.8rem !important;
  }
  .section1 {
    width: 100%;
    height: 8.3rem;
    margin-top: 15.35rem;
    overflow: hidden;
  }
  
  .section1 ul {
    width: 100%;
    height: auto;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 0.75rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .lottert-gift-name{
    position: absolute;
    width: 120%;
    left: 50%;
    bottom: -0.45rem;
    transform: translate(-50%);
    text-align: center;
    zoom: 0.85;
  }
  
  .section1 ul li {
    position: relative;
    float: left;
    margin-bottom: 0;
    background-position-x: center;
    color: #ffffff;
    font-size: 0.25rem;
  }
  .lottery-unit div{
    width: 1.86rem;
    height: 2.28rem;
  }
  .lottery-unit.active div::after {
    content: '';
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    box-shadow: 0 0 0.3rem #162ba5; */
    width: 2.59rem;
    height: 2.59rem;
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/active.png) no-repeat center 100%/100%;
    
  }
  .lottery-unit-1{
    margin-left: 0 !important;
  }
  .lottert-gift-name{
    box-sizing: border-box;
  }
  .section1 ul li:nth-of-type(n+2){
    margin-left: 0.62rem;
  }
  .lottery-unit-1 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/1.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-1.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/1.png) no-repeat center 100%/100%;
  } */

  .lottery-unit-2 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/2.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-2.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/2.png) no-repeat center 100%/100%;
  }
   */
  .lottery-unit-3 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/3.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-3.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/3.png) no-repeat center 100%/100%;
  }
   */
  .lottery-unit-4 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/4.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-4.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/4.png) no-repeat center 100%/100%;
  } */
  .lottery-unit-5 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/5.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-5.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/5.png) no-repeat center 100%/100%;
  } */
  
  .lottery-unit-6 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/6.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-6.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/6.png) no-repeat center 100%/100%;
  } */
  .lottery-unit-7 div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/7.png) no-repeat center 100%/100%;
  }
  /* .lottery-unit-7.active div{
    background: url(//999.com/web/onepiece/qzCard2024/images/lottery/7.png) no-repeat center 100%/100%;
  }
   */
  .section1 ul li img {
    position: absolute;
    margin: auto;
    width: 1.88rem;
  }
  
  .section1 .btn {
    display: block;
    width: 5.1rem;
    height: auto;
    margin: 0 auto 0;
    cursor: pointer;
  }
  
  .section2 {
    width: 100%;
    height: 27.2rem;
    overflow: hidden;
    margin-top: 1.1rem;
    position: relative;
  }
  
  .section2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 9.7rem;
    margin: 0 auto;
    padding-top: 0.1rem;
  }
  
  .section2 ul li {
    position: relative;
    float: left;
  }
  .section2 ul li div{
    position: relative;
    width: 3.21rem;  
    height: 2.96rem;
    box-sizing: border-box;
  }
  .section2 ul li.active div{
    background:none;
  }
  .section2 ul li.active div::before{
    content: '';
    position: absolute;
    width: 3.21rem;  
    height: 2.96rem;
    background: url(//999.com/web/onepiece/qzCard2024/images/light.png) no-repeat center 100%/100%;
  }
  
  .section2 ul li img {
    width: 2.57rem;
    height: auto;
    position: absolute;
    top: 0.32rem;
    left: 0.32rem;
  }

  .section2 ul li p {
    font-size: 0.28rem;
    text-align: center;
    color: #fff;
    margin-top: -0.13rem;
  }
  
  .section2 ul li span {
    color: #ffdd6b;
  }
  /* .item3,.item4,.item5,.item6,.item7,.item8,.item9{
    margin-top: 0.1rem;
  } */
  
  .btn-container {
    display: flex;
    width: 100%;
    /* margin-top: 0.34rem; */
    justify-content: space-between;
    padding: 0rem 0.7rem;
    box-sizing: border-box;
  }
  
  
  .btn-container > div:first-child {
    float: left;
  }
  
  .btn-container > div:last-child {
    float: right;
  }
  
  .btn-container div img {
    display: block;
    width: 3.39rem;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .btn-container p {
    width: 100%;
    font-size: 0.28rem;
    text-align: center;
    color: #fff;
    margin-top: 0.03rem;
  }
  
  .btn-container  span {
    color: #ffdd6b;
  }
  
  .section2 .btn {
    width: 5.1rem;
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .copyRight {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    font-size: 0.22rem;
    text-align: center;
    padding: 0.27rem 0 0.5rem;
    background: #000;
    margin-top: -0.02rem;
  }
  
  .copyRight img {
    width: 0.62rem;
    height: 0.7rem;
  }
  
  .copyRight img:nth-child(2) {
    width: 1.75rem;
    height: 0.43rem;
    margin-left: 0.05rem;
  }
  