/* .box{
    width: 100px;
    height: 100px;
    background: url(https://github.com/web/onepiece/qzCard2024/images/9.png) no-repeat center 100%/100%;
} */
.box{
    width: 100px;
    height: 100px;
    background: url(https://00.unsplash/premium_photo-1686149833505-0fe209f61a67) no-repeat center 100%/100%;
}